<div class="container" *ngIf="wrongpwd">
	<div class="alert">
		<span class="closebtn" (click)="wrongpwd = false">&times;</span>
		Wrong password
	</div>
</div>

<div class="container" *ngIf="wrongconf">
	<div class="alert">
		<span class="closebtn" (click)="wrongconf = false">&times;</span>
		New password doesn't match its confirmation
	</div>
</div>

<div class="container">
	<form (ngSubmit)="onSubmit(f)" #f="ngForm">
		<div class="form-group">
			<label for="oldpwd">Old password :</label>
			<input type="password" id="oldpwd" name="oldpwd" placeholder="Old password..." ngModel>
		</div>
		<div class="form-group">
			<label for="newpwd">New password :</label>
			<input type="password" id="newpwd" name="newpwd" placeholder="New password..." ngModel>
		</div>
		<div class="form-group">
			<label for="newpwdc">New password (confirm) :</label>
			<input type="password" id="newpwdc" name="newpwdc" placeholder="New password (confirm)..." ngModel>
		</div>
		<div class="form-group">
			<input type="submit" class="btn btn-secondary" value="Change ly password">
		</div>
	</form>
</div>
