<div class="container">
	<div class="buttons buttons-system-management">
		<a routerLink="change-password">
			<button class="btn btn-secondary" (click)="ls()">
				<img src="/assets/icons/edit-3.svg"><span>Change my password</span>
			</button>
		</a>
		<a routerLink="admin" *ngIf="isAdmin()">
			<button class="btn btn-secondary">
				<img src="/assets/icons/users.svg"><span>Users administration panel</span>
			</button>
		</a>
	</div>
</div>

<div class="container">
	<hr />
</div>

<div class="container">
	<div class="buttons">
		<button class="btn btn-secondary" (click)="ls()">
			<img src="/assets/icons/refresh-cw.svg">
			<span>Refresh</span>
		</button>
		<button class="btn btn-secondary" (click)="mkdir()">
			<img src="/assets/icons/folder-plus.svg">
			<span>New Folder</span>
		</button>
		<button class="btn btn-secondary" (click)="touch()">
			<img src="/assets/icons/file-plus.svg">
			<span>New File</span>
		</button>
		<button class="btn btn-secondary" (click)="paste()">
			<img src="/assets/icons/clipboard.svg">
			<span>Paste</span>
		</button>
		<button class="btn btn-secondary" (click)="upload(inputfiles)">
			<img src="/assets/icons/upload.svg">
			<span>Upload Selection</span>
		</button>
		<input type="file" multiple is="drop-files" class="upload-form" #inputfiles>
	</div>
	<progress class="upload-progressbar" [value]="uploadProgress" max="100" *ngIf="uploadProgress != 0"></progress>
</div>

<div class="container table-container">
	<div *ngIf="files == undefined">
		Directory doesn't exists
	</div>
	<table *ngIf="files != undefined" class="file-explorer-table">
		<tr>
			<th></th>
			<th>Name</th>
			<th>Size</th>
			<th></th>
		</tr>
		<tr *ngIf="!isRoot() && lsLoaded" (click)="navigate(-1)">
			<td class="shrink"></td>><img src="/assets/icons/arrow-left-circle.svg"></td>
			<td class="expand">..</td>
			<td class="shrink"></td>></td>
			<td class="shrink"></tdclass>></td>
		</tr>
		<tr *ngFor="let file of files | sortfilesalphabetical | sortfoldersfiles; let i = index"
			(click)="clickRow($event, i)">
			<td *ngIf="file.isDir" class="shrink"><img src="/assets/icons/folder.svg"></td>
			<td *ngIf="!file.isDir" class="shrink"><img
					[src]="'/assets/icons/' + (file.name.split('.')[file.name.split('.').length - 1] | exttoimg)"></td>

			<td *ngIf="file.isDir" class="expand">{{ file.name }}</td>
			<td *ngIf="!file.isDir" class="expand">{{ file.name }}</td>

			<td *ngIf="file.isDir" class="shrink"></td>
			<td *ngIf="!file.isDir" class="shrink">{{ file.size | humanreadablesize }}</td>

			<td class="shrink">
				<button class="btn btn-secondary" (click)="showActions(i)">Actions</button>
			</td>
		</tr>
	</table>
	<div *ngIf="files != undefined && files.length == 0 && lsLoaded">
		<p style="text-align: center;">Empty folder</p>
	</div>
</div>

<app-menu-action [file]="selectedFile" [path]="path" (closeEvent)="selectedFile = undefined" (refreshEvent)="ls()"
	(copycutEvent)="copycut = $event"></app-menu-action>