.table-container {
	overflow-x: auto;
}

.file-explorer-table {
	border-spacing: 0;
	border-collapse: collapse;
	width: 100%;
}

.file-explorer-table tr:hover {
	background-color: #d6d6d6;
}

.file-explorer-table tr:not(:nth-child(1)) {
	cursor: pointer;
	border-top: 1px solid #ddd;
}

/*.file-explorer-table tr td:not(:nth-child(2)) {
	text-align: center;
}*/

.file-explorer-table tr th {
	text-align: start;
}

.file-explorer-table td, .file-explorer-table th {
	margin: 0;
	padding: 5px;
}

.buttons {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: center;
	gap: 5px 10px;
}

/* Add this to align vertically */

.btn>img, .btn>span {
	vertical-align: middle;
}

.btn>* {
	margin: 0 2px;
}

.upload-progressbar {
	width: 100%;
}

.btn-secondary {
	padding: .15rem .3rem;
}

.btn-action {
	margin: 0 5px;
}

.shrink {
	white-space: nowrap;
}

.expand {
	width: 100%;
}